#borderbox {
  border: black 2px solid;
}

#currentForecast {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

p#city {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

p#wind {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

p#temp {
  display: flex;
  flex-direction: row;
  justify-content: left;

}

p#humidity {
  display: flex;
  flex-direction: row;
  justify-content: left;
}


h2 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 0px;
}

div#fiveDayForecast {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0px;
}

p#date {
  color: black;
}

p {
  padding: 0px;
  margin: 0px;
}

div#titleLine {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-weight: bold;
  font-size: 30px;
  padding: 5px;
}

div#weatherThings {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 20px;
  padding: 5px;
}